<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Future of Work</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="static/js/script.js"></script>
      </head>
<body>
  <div class="navbar">
    <header>
        <h1>Data Analysis of Glassdoor Jobs</h1>
    </header>
    <button class="tablink" onclick="openPage('Home', this, 'red')" id="defaultOpen()">
      <i class="fas fa-home"></i> Home
  </button>
  <button class="tablink" onclick="openPage('Dashboard', this, 'green')">
      <i class="fas fa-chart-bar"></i> Dashboard
  </button>
  <button class="tablink" onclick="openPage('Story', this, 'blue')">
      <i class="fas fa-book"></i> Story
  </button>
  <button class="tablink" onclick="openPage('Report', this, 'orange')">
      <i class="fas fa-file-alt"></i> Report
  </button>
</div>
<br><br><br>
    <div id="Home" class="tabcontent" >
      <h3>Home</h3>
      <div class="bg">
        <div class="container">
        <img src="static/images/im3.jpg" alt="Image Description" class="image">
          <div class="overlay">
            <div class="con">
              <div class="image-container">
                  <img src="static/images/im4.webp" alt="Image Description">
              </div>
              <div class="text-right">
                <h2>About Us</h2>
                <p>Welcome to "The Future Of Work: Data Analysis Of Glassdoor Jobs"! We are a team of data analysts and researchers dedicated to exploring the trends and insights surrounding job opportunities and the future of work.</p>
                
                <p>Our mission is to provide actionable insights and valuable information to job seekers, employers, and educators alike, to help them navigate the changing job market and make informed decisions. We gather and analyze data from various sources, including Glassdoor, to uncover patterns, trends, and opportunities that will shape the future of work.</p>
                
                <p>We are committed to providing accurate, reliable, and up-to-date information to our readers. Our team consists of experienced data analysts, researchers, and writers who are passionate about using data to solve complex problems and drive positive change in the workforce.</p>
                
                <p>If you have any questions or feedback about our work, please feel free to contact us at the following email address:</p>
                
                <p><strong>Email:</strong> info@futureofwork.com</p>
                
                <p>Thank you for visiting "The Future Of Work: Data Analysis Of Glassdoor Jobs"!</p>
                
              </div>
          </div>
          
          </div>
        </div>
      </div>
      </div>
    </div>
    
    <div id="Dashboard" class="tabcontent">
      <h3>Dashboard</h3>
      <div class="bg">
      <div class="container">
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FThe%2BFuture%2BOf%2BWork%2FResponsive%2B%2526%2BDesign%2BOf%2BDashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model00000187f6553bfa_00000002" width="1270" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    </div>
  </div>
    
    <div id="Story" class="tabcontent">
      <h3>Story</h3>
      <div class="bg">
      <div class="container">
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FThe%2BFuture%2BOf%2BWork%2FNo%2BOf%2BScenes%2BIn%2BA%2BStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=model00000187fbd22ebf_00000000&amp;sceneTime=5000" width="1270" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    </div>
  </div>
    
    <div id="Report" class="tabcontent">
      <h3>Report</h3>
      <div class="bg">
      <div class="container">
        <iframe src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FThe%2BFuture%2BOf%2BWork%2FNo%2BOf%2BVisualization%2BWith%2BDetail%2BInformation&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=edit" width="1270" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
    <br><br><br><br>
<div >
  <div class="bg">
    <div class="container">
    <img src="static/images/im7.jpg" alt="Image Description" class="image">
    </div>
  </div>
  </div>
</div>
    <footer>
        <p>&copy; 2023 The Future of Work: Data Analysis of Glassdoor Jobs. All rights reserved.</p>
      </footer>
</body>
</html> 
